In [181]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

In [161]:
df = pd.read_csv('Toprak.csv')

In [162]:
df.head()

,Nitrogen,Phosphorus,Potassium,Temperature,Humidity,pH_Value,Rainfall,Crop
0,90,42,43,20.879744,82.002744,6.502985,202.935536,Rice
1,85,58,41,21.770462,80.319644,7.038096,226.655537,Rice
2,60,55,44,23.004459,82.320763,7.840207,263.964248,Rice
3,74,35,40,26.491096,80.158363,6.980401,242.864034,Rice
4,78,42,42,20.130175,81.604873,7.628473,262.717340,Rice

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nitrogen     2200 non-null   int64
 1   Phosphorus   2200 non-null   int64
 2   Potassium    2200 non-null   int64
 3   Temperature  2200 non-null   float64
 4   Humidity     2200 non-null   float64
 5   pH_Value     2200 non-null   float64
 6   Rainfall     2200 non-null   float64
 7   Crop         2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [164]:
df = df.rename(columns={
    "Nitrogen": "Azot",
    "Phosphorus": "Fosfor",
    "Potassium": "Potasyum",
    "Temperature": "Sıcaklık",
    "Humidity": "Nem",
    "pH_Value": "pH_Değeri",
    "Rainfall": "Yağış",
    "Crop": "Ürün"
})

In [165]:
df.head()

   Azot  Fosfor  Potasyum   Sıcaklık        Nem  pH_Değeri       Yağış  Ürün
0    90      42        43  20.879744  82.002744   6.502985  202.935536  Rice
1    85      58        41  21.770462  80.319644   7.038096  226.655537  Rice
2    60      55        44  23.004459  82.320763   7.840207  263.964248  Rice
3    74      35        40  26.491096  80.158363   6.980401  242.864034  Rice
4    78      42        42  20.130175  81.604873   7.628473  262.717340  Rice

In [166]:
a = df.Ürün.unique()

for i in a: 
    print(i)

Rice
Maize
ChickPea
KidneyBeans
PigeonPeas
MothBeans
MungBean
Blackgram
Lentil
Pomegranate
Banana
Mango
Grapes
Watermelon
Muskmelon
Apple
Orange
Papaya
Coconut
Cotton
Jute
Coffee

In [167]:
categorical_features = df.select_dtypes(include=['object']).columns
numerical_features = df.select_dtypes(include=['int64', 'float64']).columns
print("\nCategorical Features:", categorical_features)
print("\nNumerical Features:", numerical_features)
label_encoder = LabelEncoder()
for feature in categorical_features:
    df[feature] = label_encoder.fit_transform(df[feature])

Categorical Features: Index(['Ürün'], dtype='object')

Numerical Features: Index(['Azot', 'Fosfor', 'Potasyum', 'Sıcaklık', 'Nem', 'pH_Değeri', 'Yağış'], dtype='object')

In [168]:
df.head()

   Azot  Fosfor  Potasyum   Sıcaklık        Nem  pH_Değeri       Yağış  Ürün
0    90      42        43  20.879744  82.002744   6.502985  202.935536    20
1    85      58        41  21.770462  80.319644   7.038096  226.655537    20
2    60      55        44  23.004459  82.320763   7.840207  263.964248    20
3    74      35        40  26.491096  80.158363   6.980401  242.864034    20
4    78      42        42  20.130175  81.604873   7.628473  262.717340    20

In [169]:
b = df.Ürün.unique()

for i in b: 
    print(i)

20
11
3
9
18
13
14
2
10
19
1
12
7
21
15
0
16
17
4
6
8
5

In [178]:
for i in a,b:
    print(i)

['Rice' 'Maize' 'ChickPea' 'KidneyBeans' 'PigeonPeas' 'MothBeans'
 'MungBean' 'Blackgram' 'Lentil' 'Pomegranate' 'Banana' 'Mango' 'Grapes'
 'Watermelon' 'Muskmelon' 'Apple' 'Orange' 'Papaya' 'Coconut' 'Cotton'
 'Jute' 'Coffee']
[20 11  3  9 18 13 14  2 10 19  1 12  7 21 15  0 16 17  4  6  8  5]

In [179]:
y=df['Ürün']
x=df.drop(columns=['Ürün'], axis=1)

In [180]:
x_train,x_test,y_train,y_test = train_test_split(x,y, train_size=0.8, random_state=42)

In [182]:
rf = RandomForestClassifier()
model = rf.fit(x_train,y_train)

In [186]:
y_pred = model.predict(x_test)

In [187]:
accuracy_score(y_test,y_pred)

0.9931818181818182